<nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Panier</a>
     </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
        <% if user_signed_in? %>
          <%= link_to "Nos chats", root_path %>
        <% end %>
      </ul>

        <ul class="nav navbar-nav navbar-right"style="margin-right:10px; margin-top:1.3%;">
          <% if user_signed_in? %>
            <%= link_to destroy_user_session_path, method: :delete do %><span class="glyphicon glyphicon-log-out"></span> Logout<%end%>
          <% else %>

          <li><%= link_to new_user_session_path do %><span class="glyphicon glyphicon-user"></span> Sign Up<%end%></li>
          <li><%= link_to new_user_registration_path do %><span class="glyphicon glyphicon-log-in"></span> Login<%end%></li>
  
          <% end %>
    </div>
    </nav>